{% extends  "base.html" %}

{% load crispy_forms_tags %}
{% block content %}
    <style>

        body{

            background-color: gray;

        }

    </style>
    <br>
    <div class="container ">
        <div class="row bg-white shadow-md p-5 form-layout">
            <div class="col-md-12">
                <h3> Password reset complete </h3>

                <hr>
        
                <p> Your password has been set. You may proceed to login </p>
        
                <a href="{% url 'login' %}" class="btn btn-primary my-2"><i class="fa fa-sign-in" aria-hidden="true"></i> Login </a>
            </div>
        </div>
    </div>



{% endblock %}